.hljs-ln-line {
	font-size: 20px !important;
	margin: 0px 0px 7px 0px !important;
}

.myBox {
	font-size: 20px !important;
	margin: 0px 0px 7px 0px !important;
}

.highlight-line > .hljs-ln-numbers {
	color: red !important;
	background-color: yellow;
}

/* Hide copy button */
button.copy-code-to-clipboard {
	display: none !important;
}
